body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(#295abb, #25aae1, #295abb, #25aae1);
}

.sobreNos {
  background-color: #f1f0f5;
  padding: 35px;
  max-width: 800px;
  margin: 65px auto;
  border-radius: 14px;
  box-shadow: 0 0 10px #000000;
}

.sobreNos h1 {
  font-size: 2em;
  margin-bottom: 20px;
  border-bottom: 2px solid #436c81;
  padding-bottom: 10px;
  color: #000000;
  font-size: 39px;
}

.sobreNos p {
  font-size: 22px;
  line-height: 1.6;
  color: #000000;
}

.depoimentos {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.imgPessoa {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.comentario {
  display: flex;
  align-items: center;
  margin: 40px auto;
  padding: 20px;
  font-size: 20px;
  box-shadow: 0 0 10px #000000;
  border-radius: 10px;
}

.lista {
  font-size: 22px;
}

@media (min-widht: 320px) {
  .comentario {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-widht: 1500px) {
  .depoimentos {
    flex-direction: column;
  }
}
