/* Configuração Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Estilização do Header */
header {
    background-color: #007bff;
    padding: 15px 0;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #07ff;
}

.navbar-nav .nav-link {
    color: blue;
    font-size: 1.1rem;
}

.navbar-nav .nav-link:hover {
    color: #ffc107;
}

/* Simulação de Propaganda */
#propagandaContainer {
    display: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.alert {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Produtos */
#secaoProdutos {
    display: none;
    padding: 20px;
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #28a745;
}

.btn-success {
    width: 100%;
    margin-top: 10px;
}

/* Campo de Busca */
#searchInput {
    width: 60%;
    display: inline-block;
}

#searchButton {
    margin-left: 10px;
}

/* Footer */
footer {
    background-color: #343a40;
    color: blue;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #207;
    margin: 10px;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

/* Formulário de Login */
form {
    max-width: 300px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #238838;
}

/* Contatos */
#contatoSection p {
    font-size: 1rem;
    margin: 5px 0;
}