* {
  margin: 0;
  padding: 0;
}

img {
  width: 1.5rem;

}

h2 {}

header {
  padding: 2rem;
  background-color: green;
}

main {
  padding: 2rem;

}

div {
  padding: 1rem;
  display: flex;
  gap: 1rem;


}

section {
  padding: 2rem;
}

form {
  padding: 0.5rem;
}

input {
  width: 90%;
  padding: 0.5rem;
}